@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Tilt Neon',sans-serif;
}
body{
    overflow: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/*slider Section*/
.scroll-body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;;
}
#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);

}
.image-slider{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

/*mouse move section*/
.images-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.images-mouse{
    display: grid;
    place-items: center;
    position: relative;
    background-color: rgb(10,10,10);
    margin: 0;
    overflow: hidden;
}
.image{
    aspect-ratio: 10/16;
    object-fit: cover;
    border-radius: 3px;
    width: 15vw;
    position: absolute;
    transform: translate(-50%,50%);
}
h2{
    position: absolute;
    top: 30px;
    text-align: center;
    border-bottom: 1px solid #2ee32e;
    background: rgba(0, 0, 0, 0.49);
    border-radius: 3px;
    font-size: 40px;
    color: #ffffff;
    z-index: 1000;
}
.image[data-status="inactive"]{
    display: none;
}